.vs
.vscode
!frontend/.vscode
*.local

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
backend/img/*
backend/*/migrations/*
!backend/*/migrations/__init__.py

# Environments
.env
.venv
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

### React ###
# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
