.vs
.vscode
*.local

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
backend/img/*
backend/*/migrations/*
!backend/*/migrations/__init__.py

# Environments
.env
.venv
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

### React ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
build/
node_modules/
bower_components/